.grid{
    width: 560px;
    height: 300px;
    border: 2px solid black;
    position: absolute;
    margin-top: 40px;
    background-color: rgba(106, 159, 156, 0.514);
}
body{

    background-color: rgba(61, 54, 160, 0.514);
}
.block{
    position: absolute;
    width:100px;
    height: 20px;
    background-color: blue;
}
.user{
    position: absolute;
    width:100px;
    height: 20px;
    background-color: rgb(66, 15, 134);
}
.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: red;

}